.visit-calendar-header {
	font-size: 1.6rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.visit-calendar-header .date-range {
	font-size: 1.8rem;
	text-align: center;
	border: none;
	border-bottom: 2px solid #000;
	box-shadow: none;
	background-color: #eaeaea;
}

.visit-calendar-header .date-range:focus {
	border: none;
	border-bottom: 2px solid var(--color-main);
	box-shadow: none;
}

.visit-calendar-header .btn {
	color: #fff;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 2px solid transparent;
	background-color: var(--color-main);
	transition: 0.3s all;
}

.visit-calendar-header .btn:disabled {
	opacity: 0.5;
}

.visit-calendar-header .btn:not(:disabled):hover {
	border: 2px solid var(--color-main);
	background-color: #fff;
	color: var(--color-main);
}

.visit-calendar {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.4rem;
	margin-bottom: 1.6rem;
}

.visit-calendar .weekday,
.visit-calendar .hour {
	border: 1px solid #bababa;
}

.visit-calendar .hour {
	
}

.visit-calendar .cell {
	border: 1px solid #dadada;
	height: 30px;
}

.visit-calendar .cell.marked {
	background-color: var(--color-main);
}

.visit-calendar .cell.inactive {
	background-color: #eaeaea;
}

.visit-calendar .cell.unavailable {
	background-color: #f9900a;
}

.visit-calendar .cell.active:not(.marked):hover {
	background-color: #eaeaea;
}

.visit-search-form .visit-scheduler {
	width: 100%;
}