*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--color-main: #9907ab;
	--color-main-light: rgba(153,7,171,.07);
	/*--color-main: #7a05a8;
	--color-main-light: rgba(122,5,168,.07);*/
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	position: relative;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	padding: 1.5rem 0;
	border-bottom: 1px solid var(--color-main); 
	box-shadow: 0 3px 5px rgba(153,7,171,.1);
	background-color: #fff;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header-logo {
	margin: 1rem 0;
}

.page-header-logo img {
	display: block;
	max-width: 30rem;
}

.page-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-nav-list-item {
	display: inline-block;
}

.page-nav-list-item a {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 1rem  3rem;
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	color: #000;
}

.page-nav-list-item a::before {
	content: '';
	display: block;
	height: 3px;
	background-color: var(--color-main);
	position: absolute;
	bottom: 0;
	right: 50%;
	left: 50%;
	opacity: 0;
	transition: 0.4s all;
}

.page-nav-list-item a.active,
.page-nav-list-item a:hover {
	color: var(--color-main);
}

.page-nav-list-item a.active::before,
.page-nav-list-item a:hover::before {
	left: 1.5rem;
	right: 1.5rem;
	opacity: 1;
}

.main-content-wrapper {
	padding-top: 8rem;
	padding-bottom: 5rem;
	min-height: 100vh;
}

.main-content-wrapper .container {
	display: flex;
	align-items: stretch;
}

.sidebar {
	width: 30%;
}

.main-content {
	width: 70%;
}

.login-form-wrapper {
	width: 50%;
	padding: 0 2rem;
	margin: 8rem auto 0;
	border: 1px solid #aaa;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.form .form-row {
	margin-bottom: 1.6rem;
}

.form .form-row .error {
	margin-top: 0.8rem;
	color: #d8083e;
	font-style: italic;
}

.form .form-row.error input {
	border-color: #d8083e;
}

.form .form-row.btn {
	text-align: center;
}

.form label {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
	font-weight: bold;
}

.form input {
	display: block;
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;
	color: #555;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.1);
}

.form input:focus {
	border: 1px solid var(--color-main);
	box-shadow: inset 0 0 5px rgba(153,7,171,.1);
}

.form .submit-btn {
	padding: 1rem 3rem;
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: var(--color-main);
	color: #fff;
	transition: 0.3s all;
}

.form .submit-btn:hover {
	border: 2px solid var(--color-main);
	background-color: #fff;
	color: var(--color-main);
}

.patient-add-form-title,
.patients-search-title,
.patient-info-title,
.login-form-title {
	margin-top: 4rem;
	margin-bottom: 0;
	font-size: 2.2rem;
	text-transform: uppercase;
	text-align: center;
}

.patient-add-form-title,
.patient-info-title,
.login-form-title {
	margin-top: 3rem;
}

.patients-search-info {
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-style: italic;
}

.people-list {
	width: 100%;
	margin: 2rem 0;
	border-collapse: collapse;
	text-align: center;
}

.people-list-header {
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--color-main);
	color: #fff;
}

.people-list th,
.people-list td {
	padding: 1.5rem 0;
	border-bottom: 1px solid #000;
}

.people-list th {
	border-bottom: none;
}

.people-list tr:nth-of-type(2n) {
	background-color: var(--color-main-light);
}

.people-list .person-link {
	text-decoration: none;
	color: var(--color-main);
	display: inline-block;
	width: 100%;
	font-weight: bold;
}

.people-list .person-link:hover {
	text-decoration: underline;
}

.update-form .form-row {
	margin-bottom: 1.6rem;
	display: flex;
	align-items: center;
}

.update-form .form-row .error {
	margin-top: 0.8rem;
	color: #d8083e;
	font-style: italic;
}

.update-form .form-row.error input {
	border-color: #d8083e;
}

.update-form .form-row.btn {
	justify-content: center;
}

.update-form label {
	flex-basis: 25%;
	font-size: 1.5rem;
	font-weight: bold;
}

.update-form .form-field {
	flex-basis: 75%;
}

.update-form input {
	display: block;
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;
	color: #000;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.1);
}

.update-form input:disabled {
	background-color: transparent;
	border: none;
	box-shadow: none;
	pointer-events: none;
}

.update-form input:focus {
	border: 1px solid var(--color-main);
	box-shadow: inset 0 0 5px rgba(153,7,171,.1);
}

.update-form .submit-btn {
	padding: 1rem 3rem;
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: var(--color-main);
	color: #fff;
	transition: 0.3s all;
}

.update-form .submit-btn:hover {
	border: 2px solid var(--color-main);
	background-color: #fff;
	color: var(--color-main);
}

.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5rem;
	border-top: 1px solid var(--color-main);
}

.loading {
	position: relative;
	opacity: 0.5;
	pointer-events: none;
}

.loading::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 3rem;
	border: 2px solid rgba(0,0,0,.6);
	border-right-color: rgba(0,0,0,1);
	border-radius: 50%;
	animation: spinner 0.7s infinite;
}

@keyframes spinner {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}