*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--color-main: #9907ab;
	--color-main-light: rgba(153,7,171,.07);
	/*--color-main: #7a05a8;
	--color-main-light: rgba(122,5,168,.07);*/
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	padding: 1.5rem 0;
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	background-color: #fff;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-header-logo {

}

.page-header-logo img {
	display: block;
	max-width: 30rem;
}

.page-nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-nav-list-item {
	display: inline-block;
}

.page-nav-list-item a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem  3rem;
	font-size: 2rem;
	font-weight: bold;
	position: relative;
	color: #000;
}

.page-nav-list-item a::before {
	content: '';
	display: block;
	height: 3px;
	background-color: var(--color-main);
	position: absolute;
	bottom: 0;
	right: 50%;
	left: 50%;
	opacity: 0;
	transition: 0.4s all;
}

.page-nav-list-item a.active,
.page-nav-list-item a:hover {
	color: var(--color-main);
}

.page-nav-list-item a.active::before,
.page-nav-list-item a:hover::before {
	left: 1.5rem;
	right: 1.5rem;
	opacity: 1;
}

.main-content-wrapper {
	padding-top: 100px;
}

.main-content-wrapper .container {
	display: flex;
	align-items: stretch;
	margin-top: 40px;
}

.sidebar {
	width: 30%;
}

.main-content {
	width: 70%;
}

.form .form-row {
	margin-bottom: 1.6rem;
}

.form .form-row.error input {
	background-color: #ffeded;
	border-color: #d8083e;
}

.form .form-row.btn {
	text-align: center;
}

.form label {
	display: block;
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
	font-weight: bold;
}

.form input {
	display: block;
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;
	color: #555;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.1);
}

.form .submit-btn {
	padding: 1rem 3rem;
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 1.8rem;
	font-weight: bold;
	background-color: var(--color-main);
	color: #fff;
	transition: 0.3s all;
}

.form .submit-btn:hover {
	border: 2px solid var(--color-main);
	background-color: #fff;
	color: var(--color-main);
}

.patients-list-title {
	margin-top: 4rem;
	margin-bottom: 1rem;
	font-size: 2.2rem;
	text-transform: uppercase;
	text-align: center;
}

.patients-list {
	width: 100%;
	margin-top: 1rem;
	border-collapse: collapse;
	text-align: center;
}

.patients-list-header {
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--color-main);
	color: #fff;
}

.patients-list th,
.patients-list td {
	padding: 1.5rem 0;
	border-bottom: 1px solid #000;
}

.patients-list th {
	border-bottom: none;
}

.patients-list tr:nth-of-type(2n) {
	background-color: var(--color-main-light);
}

.patients-list .patient-link {
	text-decoration: none;
	color: var(--color-main);
	display: inline-block;
	width: 100%;
	font-weight: bold;
}