*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--color-main: #9907ab;
	--color-main-light: rgba(153,7,171,.07);
	/*--color-main: #7a05a8;
	--color-main-light: rgba(122,5,168,.07);*/
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	position: relative;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-content-wrapper {
	padding-top: 8rem;
	padding-bottom: 5rem;
	min-height: 100vh;
}

.main-content-wrapper .container {
	display: flex;
	align-items: stretch;
}

.main-content {
	width: 70%;
	padding: 0 2rem;
}

.login-form-wrapper {
	width: 50%;
	padding: 0 2rem;
	margin: 8rem auto 2rem;
	border: 1px solid #aaa;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.patients-search-info,
.doctors-search-info,
.visits-search-info {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	font-style: italic;
}